@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

body {
    margin: 0;
    background-color: white;
    font-family: "Inconsolata", monospace;
}

.header {
    background: white;
    border-bottom: 1px solid darkgray;
    box-shadow: 0 0 8px dimgray;
    

    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.hero-image {
    background-image: url("images/hero-image.png");
    background-color: #a6d3ec;
    height: 750px;

    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    padding: 96px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.hero-text {
    color: rgb(13, 90, 141);
    font-size: 24px;

    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.footer {
    height: 32px;
    background: white;
    color: dimgray;

    /* border-top: 1px solid darkgray; */
    /* box-shadow: 0 0 16px dimgray; */

    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    color: black;
    font-size: 32px;
    font-weight: 500;

    padding: 16px 64px;
}

a {
    text-decoration: none;
    color: dimgray;
}

ul {
    list-style-type: none;
    display: flex;

    margin: 0;
    padding: 0;
    gap: 16px;
}

.left, .center, .right {
    display: flex;
    align-items: center;
    gap: 32px;
}

.instagram, .twitter, .youtube {
    width: 16px;
    height: auto;
}

.youtube {
    padding-right: 64px;
}

.container {
    padding: 24px;

    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    margin-top: 32px;

    gap: 64px;
}

.info {
    border: 1px solid darkgray;
    box-shadow: 2px 4px 8px dimgray;
    border-radius: 2.5%;

    padding: 16px;
    width: 350px;
}

.info-image {
    width: 350px;
    height: auto;
}

.text, .subtext {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 16px;
}

.text {
    font-size: 30px;
    font-weight: bold;
}

.subtext {
    font-size: 18px;
    color: dimgray;
}